camera:
  resolution:
    width: ${CAMERA_RESOLUTION_WIDTH:-640}
    height: ${CAMERA_RESOLUTION_HEIGHT:-480}
  framerate: ${CAMERA_FRAMERATE:-10}
  display: ${CAMERA_DISPLAY:-false}
  cls: ${CAMERA_PROVIDER_CLS:-OpenCVCameraProvider}
  url: ${CAMERA_URL:-0}
gcp:
  project:
    name: ${GCP_PROJECT_NAME:-experiment-week-intruder}
    region: ${GCP_REGION:-us-central1}
  bucket:
    name: ${GCP_BUCKET_NAME:-intruder-sprinkler-detections}
  vision:
    classification:
      threshold: ${GCP_VISION_CLASSIFICATION_THRESHOLD:-40}
    image:
      size:
        width: ${GCP_VISION_IMAGE_SIZE_WIDTH:-2400}
        height: ${GCP_VISION_IMAGE_SIZE_HEIGHT:-1800}
detector:
  cls: ${DETECTOR_CLS:-GoogleCloudVisionIntruderDetector}
image:
  final_size: ${IMAGE_FINAL_SIZE:-224}
  crop_factor: ${IMAGE_CROP_FACTOR:-.33}
valve:
  gpio: ${GPIO_SPRINLER_PIN:-5}
intruder:
  name: ${INTRUDER_NAME:-cat}
